<div>
  <h1>URL Shortener</h1>
</div>
<div>
  <i class="fas fa-link"></i>
</div>
<div>
  <p>Sorry, the shortend URL "{{shortUrl}}"is not in use.</p>
</div>
<div>
  <a class="btn btn-primary" href="/" role="button">Create a short URL</a>
</div>