<div class="container" style="width: 680px">
  <div>
    <h1 class="text-center mt-4 mb-4">URL Shortener</h1>
  </div>
  <div class="mb-4 text-center">
    <img src="https://github.com/konnono/url-shortener/blob/main/public/link.png?raw=true" width="200px" heigh="200px">
  </div>
  <div>
    <div class="mx-auto" style="width: 500px">
      <p>Success! Please use this link:</p>
      <a href="{{shortUrl}}">{{shortUrl}}</a>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="/" role="button">Return</a>
    </div>
  </div>
</div>