<div>
  <h1>URL Shortener</h1>
</div>
<div>
  <i class="fas fa-link"></i>
</div>
<div>
  <p>Success! Please use this link:</p>
  <a href="{{shortUrl}}">{{shortUrl}}</a>
</div>
<div>
  <a class="btn btn-primary" href="/" role="button">Return</a>
</div>